[submodule "3rdParty/node"]
	path = 3rdParty/node
	url = git://github.com/joyent/node.git
[submodule "node/node_modules/helenus"]
	path = node/node_modules/helenus
	url = git://github.com/simplereach/helenus.git
[submodule "node/node_modules/uglify-js"]
	path = node/node_modules/uglify-js
	url = git://github.com/driverdan/node-XMLHttpRequest.git
[submodule "node/node_modules/socket.io-client"]
	path = node/node_modules/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "node/node_modules/socket.io"]
	path = node/node_modules/socket.io
	url = git://github.com/LearnBoost/socket.io.git
