[submodule "3rdParty/node"]
	path = 3rdParty/node
	url = git://github.com/joyent/node.git
[submodule "node/node_modules/uglify-js"]
	path = node/node_modules/uglify-js
	url = git://github.com/driverdan/node-XMLHttpRequest.git
[submodule "node/node_modules/socket.io-client"]
	path = node/node_modules/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
[submodule "node/node_modules/socket.io"]
	path = node/node_modules/socket.io
	url = git://github.com/LearnBoost/socket.io.git
[submodule "node/node_modules/node-uuid"]
	path = node/node_modules/node-uuid
	url = git://github.com/broofa/node-uuid.git
[submodule "node/node_modules/cassandra-client"]
	path = node/node_modules/cassandra-client
	url = https://github.com/racker/node-cassandra-client.git
[submodule "node/node_modules/async"]
	path = node/node_modules/async
	url = git://github.com/caolan/async.git
[submodule "node/node_modules/uuid-js"]
	path = node/node_modules/uuid-js
	url = git://github.com/pnegri/uuid-js.git
[submodule "node/node_modules/policyfile"]
	path = node/node_modules/policyfile
	url = git://github.com/3rd-Eden/FlashPolicyFileServer.git
[submodule "node/node_modules/active-x-obfuscator"]
	path = node/node_modules/active-x-obfuscator
	url = git://github.com/felixge/node-active-x-obfuscator.git
[submodule "node/node_modules/zeparser"]
	path = node/node_modules/zeparser
	url = git://github.com/qfox/ZeParser.git
[submodule "node/node_modules/colors"]
	path = node/node_modules/colors
	url = git://github.com/Marak/colors.js.git
[submodule "node/node_modules/node-http-proxy"]
	path = node/node_modules/node-http-proxy
	url = git://github.com/nodejitsu/node-http-proxy.git
[submodule "node/node_modules/pkginfo"]
	path = node/node_modules/pkginfo
	url = git://github.com/indexzero/node-pkginfo.git
